{% extends 'base.html' %}

    {% block head %}
    <title>Ask question</title>

    {% endblock %}
    {% block style %}

    #top{
      padding-top:14%;
    }
    {% endblock %}

    {% block body %}
    <div id ="top">
    <form  method="post"  class="text-center text-dark border border-light p-5 h-50 w-50 mx-auto my-6">
        {% csrf_token %}
        <label style= "font-family: 'Baloo Tammudu 2', Sans-serif;padding-right:5% ; font-size:1.5em;"for="topic">Topic</label>
        {{ form.topic }}
        <label style= "padding-left: 5%;font-family: 'Baloo Tammudu 2', Sans-serif;padding-right:5%; font-size:1.5em;" for="topic">What do you need help with? </label>
        {{ form.question_text }}
        <button class ="btn btn-primary my-4" type="submit" name="submit">Submit</button>
        {% if form.name.errors %}
            <ul>
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
    </form>
    </div>
    {% endblock %}
